<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TgrmCRM</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Вход
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/contacts">
                <span class="oi oi-box" aria-hidden="true"></span> Аккаунты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/partners">
                <span class="oi oi-box" aria-hidden="true"></span> Заказчики
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/senderStats">
                <span class="oi oi-box" aria-hidden="true"></span> Рассылки (стат.)
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/sents">
                <span class="oi oi-box" aria-hidden="true"></span> Рассылки
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
