@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager uriHelper
@inject TgrmAuth tgrmAuth

@if (!TgrmAuth.IsAuthentificated)
{
    uriHelper.NavigateTo("login");
}

<h3>Главная</h3>

@code{
    //protected override OnAfterRenderAsync(bool firstRender)

}
