@page "/senderStats"
@inject Microsoft.AspNetCore.Components.NavigationManager uriHelper
@inject TgrmAuth tgrmAuth

@if (!TgrmAuth.IsAuthentificated)
{
    uriHelper.NavigateTo("login");
}

<h3>Рассылки (статистика)</h3>

@code {

}
